/* Global Styles */
html {
  overflow-x: hidden;
}

body {
    box-sizing: border-box;
    /* font-family: Arial, sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;


    overflow-x: hidden;
  }
  
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
  }

   /* Header Styles */
  header {
    background-color: #333;;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 15px 0;
  }
  header .container { 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
  }
  
  h1 {
    margin: 0;
    /* padding: 10px 0; */
    font-size: 32px;
    font-family: 'Berkshire Swash', cursive;
  }
  h1 a{text-decoration: none; color:#fff;

    }
  
  nav ul {
    list-style: none;
    /* margin: 0;
    padding: 0; */
    display: flex;
    justify-content: flex-end;
  }
  
  nav li {
    margin-left: 30px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }
  
  nav a:hover {
    color: #f1c40f;
  }





  .navbar-list{
    display: flex;
  }
  
  /* for hamburger and close icon */
  .mobile-navbar-btn {
    /* display: none; */
    background: transparent;
    cursor: pointer;
  }
  
  .mobile-nav-icon {
    width: 2rem;
    height: 2rem;
    color: #fff;
  }
  
  .mobile-nav-icon[name="close"]{
    display: none;
    color: #000;
  }
  
  /* for hamburger and close icon */

  
  /* Contact Form Styles */
  #contact-form {
    margin-top: 150px;
  }
  #contact-form h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  .contact-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .contact-form textarea {
    height: 150px;
  }
  
  .contact-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    /* font-size: 16px; */
    cursor: pointer;
    font-size: 20px;
  }
  
  .contact-form input[type="submit"]:hover {
    background-color: #3580cf;
  }
  
  /* Contact Info Styles */
  
  #contact-info h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 70px;
  }
  #contact-info .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    
  }
  .info-box {
    width:calc(33.33% - 20px);
    margin-bottom: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .info-box i {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  .info-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .info-box p {
    font-size: 16px;
    margin-bottom: 0;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
    font-size: 1.2em
  }
  
  @media screen and (max-width: 768px) {
    .contact-form input,
  .contact-form textarea {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .contact-form textarea {
    height: 120px;
  }
  
  .contact-form input[type="submit"] {
    padding: 10px 5px;
    font-size: 16px;
    cursor: pointer;
    width: 40%;
  }
  }

  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 20px;
    }
    nav li {
      margin-left: 10px;
    }
    
    nav a {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 1230px) {
    .contact-form input,
    .contact-form textarea {
      width: 95%;
      padding: 10px;
    }
  }
  @media screen and (min-width: 769px) {
    .mobile-nav-icon[name="menu"]{
      display: none;
    }
    .mobile-navbar-btn {
      display: none;
    }
  }
    /* Media Query for screens smaller than 768px */
  @media screen and (max-width: 768px) {
    .header {
      position: relative;
    }
    
    .mobile-navbar-btn {
      display: block;
      color: black;
    }
  
    .navbar {
      /* display: none; */
      width: 100%;
      height: 100vh;
      background-color: rgb(225, 244, 251);
      position: absolute;
      top: 0;
      left: 0;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      /* to get the transition */
      transform: translateX(100%);
      transition: all 0.5s linear;
  
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  
    .navbar-list {
      flex-direction: column;
      align-items: center;
    }
    .navbar li {
      padding: 10px 0;
      padding-right: 35px;
    }

    .navbar a {
      color: #000;
      font-size: 20px;
    }
    .active .navbar {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  
    .active .mobile-navbar-btn .mobile-nav-icon[name="close"] {
      display: block;
    }
  
    .active .mobile-navbar-btn .mobile-nav-icon[name="menu"] {
      display: none;
    }
  
  
    /* Styles for hiding the navbar */
  .navbar.hide {
    display: none;
  }
  /* Styles for hiding the navbar */
  





  /* Set the width to 100% to make the boxes stack vertically */
  .info-box {
    width: 100%;
  }
    #contact-form {
      margin-top: 40px;
    }

    #contact-info h2 {
      margin-bottom: 15px;
      margin-top: 80px;
    }
  }  